.clients {
    padding: 60px 0;

    @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    width: 100%;

    @media screen and (min-width: 1200px){
    margin-bottom: 50px;
    font-size: 36px;
    }
}

.clients__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;

    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--fill-icon);
    border-radius: 4px;

    width: 210px;
    height: 92px;
    
    transition: border-color 250ms var(--timing-function);

    @media screen and (min-width: 768px) {
    width: 226px;
    }

    @media screen and (min-width: 1200px){
    width: 170px;
    }


    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.clients__icon {
    fill: var(--fill-icon);

    transition: fill 250ms var(--timing-function);

    .clients__link:hover &,
    .clients__link:focus & {
            fill: var(--accent-color);
            border-color: var(--accent-color);
        }
}