.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--backgound-grey);
}

.footer__container {
    width: 450px;
    text-align: center;

    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 738px;
    justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
    width: 1200px;
    flex-wrap: nowrap;
    align-items: baseline;
    height: 139px;
    text-align: left;
    }
}

.footer__list {
    @extend %list;
}

.footer__adress-item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px){
    margin-bottom: 9px;
    }
}

.footer__adress-item:last-child {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    }
}

.footer__adress-link {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
    
    }
}

.footer__contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.footer__social {
    width: 450px;
    height: 80px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
    width: 206px;
    }

    @media screen and (min-width: 1200px){
    width: 206px;
    margin-right: 93px;
    }
}

.footer__section-name {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.footer__social-list {
    @extend %list;

    display: flex;
    gap: 10px;
    width: 450px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
    width: 206px;
    }

    @media screen and (min-width: 1200px){
    // display: flex;
    // gap: 10px;
    }
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-white-color);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.footer__form {
    width: 450px;

    @media screen and (min-width: 1200px){
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 570px;
    }
}

.footer__label {
    outline: transparent;

    width: 450px;
    height: 50px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--backgound-grey);
    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        }

    @media screen and (min-width: 1200px){
    margin: 0;
    width: 358px;
    padding: 15px 0 15px 16px;
    }
}

.footer__icon-subscribe {
    margin-left: 12px;

    @media screen and (min-width: 1200px){
    margin-left: 10px;
    }
}