.hero {
    padding: 118px 0;
    background-color: var(--backgound-grey);

    @media screen and (min-width: 1200px){
    padding: 200px 0;
    }
}

.hero__overlay {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_sm@1x.jpg);

    // Phone screen
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_sm@2x.jpg);
        }

    // Tablet screen
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_md@1x.jpg);
        
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_md@2x.jpg);
            }
    }

    // Desctop screen

    @media screen and (min-width: 769px) {
    max-width: 1600px;
    // height: 600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_lg@1x.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_lg@2x.jpg);
        }
    }
}

.hero__title {
    margin: auto;
    margin-bottom: 30px;

    text-align: center;
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and (min-width: 1200px){
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}