.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

.logo .logo--black {
    margin-right: 93px;
    color: var(--logo-color-black);
    font-family: Raleway, sans-serif; 
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__logo {
    margin-right: 70px;
    margin-bottom: 20px;
    width: 231px;
}

.logo .logo--white {
    margin-right: 156px;
    color: var(--primary-white-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
