.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.11;
    text-align: start;
    }
}

.logo .logo--black {
    color: var(--logo-color-black);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }

    @media screen and (max-width: 767px){
    margin: 0;
    }

    @media screen and (min-width: 1200px){
    margin: 0;
    margin-right: 92px;

    }
}

.footer__logo {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px){
    margin-right: 70px;
    width: 231px;
    }
}

.logo .logo--white {
    color: var(--primary-white-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px){
    margin-right: 156px;
    }
}  
    
