// Colors and Font

:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --logo-color-black: #000000;
    --backgound-grey: #2F303A;
    --background-lightgrey: #F5F4FA;
    --fill-icon: #AFB1B8;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}